<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Expert System for Diagnosis of Respiratory Diseases</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{{body}}}
    <script src="js/main.js"></script>
</body>
</html>
