* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  color: #334155;
  line-height: 1.6;
}

body {
  background-color: #fff;
  background-image:
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}

.fixed-container {
  position: absolute;
  background-color: white;
  border: black 1px solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 36rem;
  width: 48rem;
  /* border: solid red 1px; */
  overflow: hidden;
}

@media(min-width: 480px) {
  .fixed-container {
    width: 36rem;
  }
}

.question-container {
  padding: 2rem 4rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.question-container--on-standby {
  transform: translateY(200%);
  visibility: hidden;
}

.question-container--slide-in {
  transform: translateY(0);
  visibility: visible;
  transition: transform .6s cubic-bezier(0.4, 0.0, 1, 1),
              visibility 0s cubic-bezier(0.4, 0.0, 1, 1);
}

.question-container--slide-out {
  transform: translateY(-200%);
  visibility: hidden;
  transition: transform .8s cubic-bezier(0.0, 0.0, 0.2, 1),
              visibility .8s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.submit {
  margin-top: 1rem;
  padding: .5rem 1rem;
  border: none;
  background-color: #3B82F6;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color linear .2s;
}

.submit:hover {
  background-color: #60A5FA;
}


/* form starting stylings ------------------------------- */
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}

input:focus { outline:none; }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: gray;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: gray;
}

.try-agn-btn {
  margin-top: 1rem;
  padding: .5rem 1rem;
  border: none;
  background-color: #3B82F6;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color linear .2s;
}